* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Container {
    background: rgb(227, 228, 229);
    display: flex;
    width: 90%;
    height: 80%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
.rightside{
  height: 3000px;
  margin-top: 50px;
  zoom:72%;
}
.leftabsolute {
  width: 60%;
  margin-top: 50px;
  margin-bottom: 50px;
  left: 20%;
  position: relative;
  right: 5%;
}
.left{
  margin-top: -50px;
}